<nav id="navbar">
    <h4>Issue Tracker</h4>
    <!-- <a href="#about">About</a> -->
    <div class="linksContainer">
        <a href="/project/create">Create Project</a>
        <a href="/" >Home</a>
    </div>

</nav>