<title>Error</title>



<section class="projectDetailsParentContainer">
    <div class="issueTrackerHeading">
        <h2>Issue Tracker</h2>
    </div>
    <h1 style="padding: 1%; color: red;"><% statusCode %><%= message %></h1>
</section>