<title>Error</title>

<div class="issueTrackerHeading">
    <h2>Issue Tracker</h2>
</div>

<section class="projectDetailsParentContainer">
    <h1 style="padding: 1%; color: red;"><% statusCode %><%= message %></h1>
</section>