<title><%= title %></title>
<link rel="stylesheet" href="/css/projectForm.css"/>




        <section class="formContainer">
            <h1>Create Project</h1>
            <form class="form" action="/project/create" method="POST">
                <input type="text" value="<%= author %>" name="author" hidden/>
                <div class="inputContainer" style="height: 20%;">
                        <p for="projectFormName">Project Name:</p>
                        <input id="projectFormName" type="text" name="name" placeholder="Enter project name"/><br>
                </div>
                <div class="inputContainer">
                        <p for="projectFormDesc">Description:</p>
                        <textarea id="projectFormDesc" type="text" name="description" placeholder="Enter project description" textarea></textarea>
                </div>
                

                <input type="submit" placeholder="Submit" value="Submit"/>
            </form>
        </section>


