h4{
    margin: 1%;
}
.projectDetailsParentContainer{
    display: flex;
    width: 88%;
    /* flex-direction: row; */
    justify-content: space-between;
    flex-wrap: wrap;

    /* flex-direction: column; */
    overflow: scroll;
}


.projectPageSection{
    margin: 1%;
    /* width: 45%; */
    /* overflow: scroll; */

    width: 100%;
}

.issueSection{
    margin: 1%;
    margin-right: 0%;
    margin-bottom: 2%;
    /* width: 50%; */
    
    height: auto;
    /* overflow: scroll; */

    width: 100%;
}

.issueContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
    /* margin-left: 5%; */
}

.issueContainer h1{
    margin-left: 1%;
}



.issueCard{
    width: 90%;
    /* border: 1px solid black; */
    margin: 1%;
    /* border-radius: 10px; */
    box-shadow: rgb(54, 48, 48) 1px 1px 5px 1px; /*horizontal vertical blur radius*/
}

.issueCard h3{
    margin: 5px;
}

.issueCard h5{
    display: inline-block;
}

.issueCard p{
    display: inline-block;
    margin: 5px;
}


#deleteButton{
    height: 10%;
    border: none;
    background-color: #DC4C64;
    color: white;
    width: 25%;
    cursor: pointer;
}



.labelsContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 1%;
}

.label{
    /* border: 1px solid black; */
    border-radius: 1.5rem;
    padding: 1%;
    margin: 1%;
}


#createIssueFormSection{
    display: none;
    position: fixed;
    top: 0%;
    left: 12%;
    height: 100%;
    width: 88%;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4);
}

#closeIssueFormButton{
    background-color: lightgray; border: none; cursor: pointer;
}