h4{
    margin: 1%;
}



.projectPageSection{
    margin: 1%;
    /* width: 45%; */
    /* overflow: scroll; */

    width: 100%;
}



.searchIssueDiv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    height: 5%;
    margin-bottom: 1%;
}



#deleteButton{
    height: 10%;
    border: none;
    background-color: white;
    color: #DC4C64;
    border: 1px solid #DC4C64;
    border-radius: 1.5rem;
    width: auto;
    cursor: pointer;
    padding: 1%;
}





#createIssueFormSection{
    display: none;
    position: fixed;
    top: 0%;
    left: 12%;
    height: 100%;
    width: 88%;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4);
}

#closeIssueFormButton{
    background-color: lightgray; border: none; cursor: pointer;
}

#searchSection{
    display: none;
    position: fixed;
    top: 0%;
    left: 12%;
    height: 100%;
    width: 88%;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4);
}

#filterSection{
    display: none;
    position: fixed;
    top: 0%;
    left: 12%;
    height: 100%;
    width: 88%;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4);
}

#closeFilterButton{
    background-color: lightgray; border: none; cursor: pointer;
}

#closeSearchButton{
    background-color: lightgray; border: none; cursor: pointer;
}



/* USED IN SEARCH ISSUE FORM */
.labelButtons{
    margin: 1%; padding: 1%; border: 1px solid black; cursor: pointer;
}

.labelButtonsChecked{
    margin: 1%; padding: 1%; border: 1px solid black; cursor: pointer; background-color: black; color: white;
}

/* USED IN SEARCH ISSUE FORM */
.authorButtons{
    margin: 1%; padding: 1%; border: 1px solid #0081FF; cursor: pointer; color: #0081FF;
}

.authorButtonsChecked{
    margin: 1%; padding: 1%; border: 1px solid #0081FF; cursor: pointer; background-color: #0081FF; color: white;
}



/* USED IN CREATE ISSUE FORM */
.createIssueLabelButtons{
    margin: 1%; padding: 1%; border: 1px solid black; cursor: pointer;
}

.createIssueLabelButtonsChecked{
    margin: 1%; padding: 1%; border: 1px solid black; cursor: pointer; background-color: black; color: white;
}