h4{
    margin: 1%;
}



.projectPageSection{
    margin: 1%;
    /* width: 45%; */
    /* overflow: scroll; */

    width: 90%;

    height: auto;

    border: 1px solid lightgray;
}

.projectPageSection h3{
    margin: 1%;
}


.searchIssueDiv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    height: 5%;
    margin-bottom: 1%;
}



#deleteButton{
    height: auto;
    border: none;
    background-color: white;
    color: #DC4C64;
    border: 1px solid #DC4C64;
    border-radius: 1.5rem;
    width: auto;
    cursor: pointer;
    padding: 1%;
    transition-duration: 0.5s;
}

#deleteButton:hover{
    background-color: #DC4C64;
    color: white;
}







#closeIssueFormButton{
    background-color: lightgray; border: none; cursor: pointer;
}

.createSearchFilterEditSection{
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4);
}

/* #searchSection{
    display: none;
    position: fixed;
    top: 0%;
    left: 12%;
    height: 100%;
    width: 100%;
    background-color: rgb(0,0,0); /* Fallback color 
    background-color: rgba(0,0,0,0.4);
} */


/* #filterSection{
    display: none;
    position: fixed;
    top: 0%;
    left: 12%;
    height: 100%;
    width: auto;
    background-color: rgb(0,0,0); /* Fallback color 
    background-color: rgba(0,0,0,0.4);
} */

/* #createIssueFormSection{
    display: none;
    position: fixed;
    top: 0%;
    left: 12%;
    height: 100%;
    /* width: 88%; 
    width: 100%;
    background-color: rgb(0,0,0); /* Fallback color 
    background-color: rgba(0,0,0,0.4);
} */

/* #editCommentFormSection{
    display: none;
    position: fixed;
    top: 0%;
    left: 12%;
    height: 100%;
    width: auto;
    background-color: rgb(0,0,0); /* Fallback color 
    background-color: rgba(0,0,0,0.4);
} */


.button{
    margin: 1%;
    width: 100%; 
    background-color: white; 
    border: 1px solid #1E3050; 
    border-radius: 1.5rem; 
    padding: 5px;
    color: #1E3050; 
    cursor: pointer;
    transition-duration: 0.5s;
}

.button:hover{
    color: white; 
    background-color: #1E3050; 
}

#resetButton{
    text-decoration: none;}

a:visited{
    color: #1E3050;
}

a:hover {
    color: white;
}

.button:hover a{
    color: white; 
}

#createIssueButton{
    border: 1px solid #0E8A16; 
    color: #0E8A16;
}

#createIssueButton i{
    color: #0E8A16;
}

#createIssueButton:hover{
    background-color: #0E8A16; 
    color: white;
}

#createIssueButton:hover i{
    color: white;
}

#closeFilterButton{
    background-color: lightgray; border: none; cursor: pointer;
}

#closeSearchButton{
    background-color: lightgray; border: none; cursor: pointer;
}



/* USED IN SEARCH ISSUE FORM */
.labelButtons{
    margin: 1%; padding: 1%; border: 1px solid black; cursor: pointer;
}

.labelButtonsChecked{
    margin: 1%; padding: 1%; border: 1px solid black; cursor: pointer; background-color: black; color: white;
}

/* USED IN SEARCH ISSUE FORM */
.authorButtons{
    margin: 1%; padding: 1%; border: 1px solid #0081FF; cursor: pointer; color: #0081FF;
}

.authorButtonsChecked{
    margin: 1%; padding: 1%; border: 1px solid #0081FF; cursor: pointer; background-color: #0081FF; color: white;
}



/* USED IN CREATE ISSUE FORM */
.createIssueLabelButtons{
    margin: 1%; padding: 1%; border: 1px solid black; cursor: pointer;
}

.createIssueLabelButtonsChecked{
    margin: 1%; padding: 1%; border: 1px solid black; cursor: pointer; background-color: black; color: white;
}







#closeEditCommentButton{
    background-color: lightgray; border: none; cursor: pointer;
}

.commentButton{
    background-color: black; 
    border: 1px solid black;
    color: white; 
    width: auto; 
    cursor: pointer;
    transition: 0.5s;
}

.commentButton:hover{
    background-color: white; 
    border: 1px solid black;
    color: black; 
}